<!DOCTYPE HTML>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>

  <!-- Header -->
    <header id="header" class="alt">
      <% include ../partials/header %>
    </header>

  <!-- Nav -->
    <nav id="menu">
      <ul class='links'>
        <li><a href='/'>Home</a></li>
        <li><a href='/produto'>Produtos</a></li>
      </ul>
    </nav>

  <!-- Banner -->
    <section id="One" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          
        </header>
      </div>
    </section>

  <!-- One -->
    <section id="two" class="wrapper style2">
      <div class="inner">

          <a href="/produto" class="navbar-brand" href="#">
                <span class=" glyphicon glyphicon-chevron-left"></span>
            </a>
            <form action="/produto/filtrar" method="post">
              <select name="produtoTipo" class="button fit small">
                <option value='0'>PRODUTO</option>
                <option value='colete'>COLETE</option>
                <option value='coldre'>COLDRE</option>
                <option value='bornal'>BORNAL</option>
              </select>

              <select name="produtoCor" class="button fit small">
                <option value='0'>COR</option>
                <option value='preto'>PRETO</option>
                <option value='verde'>VERDE</option>
                <option value='tan'>TAN</option>
                <option value='camufladoPM'>CAMO PM</option>
                <option value='camufladoVD'>CAMO VD</option>
              </select>
            <input type="submit" value="Buscar" class="button fit small"></input>
            </form>
          <table class="table table-hover">
            <tr>
              <td>Cód</td>
              <td>Produto</td>
              <td>cor</td>
              <td>quantidade</td>
            </tr>
          <%
            for (var index in produtos) {%>
              <tr>
                <td><%=produtos[index].id%></td>
                <td><%=produtos[index].name%></td>
                <td><%=produtos[index].color%></td>
                <td><%=produtos[index].quantity%></td>
                <!-- <td><a href="/cliente/<%=produtos[index].id%>/edit">editar</a></td> -->
                <!-- <td><a href="javascript:void(0)" onclick="del(<%=produtos[index].id%>)">excluir</td> -->
              </tr> 
            <%}%>
          </table>  


      </div>
    </section>
  <!-- Footer -->
    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
            